{% extends 'base-no-header.html' %}

{% load bootstrap4 %}

{% block title %}
    Medicamento: PARACETAMOL 500 mg CP
{% endblock %}

{% block content %}

    <table class="table table-striped table-hover">
	    <thead class="table-active">
		    <tr>
			    <th>Dose (mg)</th>
			    <th>Frequência Diária</th>
			    <th>Fora do Padrão</th>
			    <th>Contagem</th>
		    </tr>
	    </thead>
	    <tbody>
		    <tr class=""><td>1000</td><td>4</td><td>0</td><td>55.0%</td></tr>
		    <tr class=""><td>500</td><td>4</td><td>0</td><td>40.0%</td></tr>
		    <tr class=""><td>500</td><td>6</td><td>0</td><td>2.0%</td></tr>
		    <tr class=""><td>750</td><td>4</td><td>0</td><td>0.8%</td></tr>
		    <tr class=""><td>1000</td><td>3</td><td>0</td><td>0.7%</td></tr>
		    <tr class=""><td>500</td><td>3</td><td>0</td><td>0.3%</td></tr>
		    <tr class=""><td>500</td><td>1</td><td>0</td><td>0.2%</td></tr>
		    <tr class=""><td>1000</td><td>1</td><td>0</td><td>0.1%</td></tr>
		    <tr class="table-danger"><td>1000</td><td>6</td><td>1</td><td>0.05%</td></tr>
		    <tr class=""><td>500</td><td>2</td><td>0</td><td>0.01%</td></tr>
	    </tbody>
    </table>

{% endblock %}

