clinical_notes/clinical_tinder/__pycache__/
clinical_notes/clinical_tinder/migrations/__pycache__/
clinical_notes/polls/migrations/__pycache__/
clinical_notes/polls/__pycache__/
clinical_notes/clinical_note/__pycache__/