<html lang="en">
<style>
  .procedure, .diagnosis, .medication, .anatomy, .other{
    border-bottom: 2px solid transparent;
    transition: border 1s linear;
  }

  .word {
  cursor: pointer;
  }

  .procedure{
    border-bottom-color: black;
  }

  .diagnosis{
    border-bottom-color: green;
  }

  .medication{
    border-bottom-color: red;
  }

  .anatomy{
    border-bottom-color: blue;
  }

  .other{
    border-bottom-color: #871F78;
  }

  .footer {
    /*position:absolute;*/
    bottom:-200;
    width:100%;
    height:40px;      /* Height of the footer */
    left: 0px;
    background:#6cf;
  }

  .menu {
    border-left: 1px solid transparent;
    border-left-color: gray;
    transition: border 1s linear;
  }


  .foo {
    float: left;
    width: 20px;
    height: 19px;
    margin: 0px;
    border: 2px solid rgba(0, 0, 0, 0.336);
  }

  .black {
    background: #000000;
  }

  .green {
    background: #00661a;
  }

  .red {
    background: #cc0404;
  }

  .blue {
    background: #0400dbf6;
  }

  .purple {
    background: #871F78;
  }

  .br {
    line-height: 150%;
  }
</style>
  <head>

    <script type="text/javascript">
      function sublinhar(k){
                var elemento = document.getElementById(k); 
                var conteudo = $('#'+k).text();  
                var classe =  document.getElementById('auxiliar').getAttribute("class");

                if(elemento.className.indexOf(classe) != -1){
                      elemento.className = "word"; 
                      salva_informacoes(k, conteudo, classe, 'exclui')
                  }   
                else{
                  if ( document.getElementById('auxiliar').getAttribute("class") != 'aux' ){
                      elemento.className = classe+" word"; 
                      salva_informacoes(k, conteudo, classe, '')
                  }
                } 
      }

      function pega_sublinhado(k){
                var elemento = document.getElementById('auxiliar');  

                elemento.className = k; 
      }


       function salva_informacoes(ID, nome, classe, acao)
      {
            var idElemento = []
            idElemento[0] =  'diagnosis_';
            idElemento[1] =  'medication_';
            idElemento[2] =  'procedure_';
            idElemento[3] =  'anatomy_';
            idElemento[4] =  'other_';

            var tipo

            for(var i=0; i<5; i++)
            {
                if(classe+"_" == idElemento[i])
                {
                  tipo =  idElemento[i];
                }
                verifica_vetores(idElemento[i], ID+"-"+nome, '');
            }
            //Se tiver algo nele, entao adiciona o novo com o que ja tinha
            if(document.getElementById(tipo).className != 'aux')
              document.getElementById(tipo).className = document.getElementById(tipo).className+ID+"-"+nome+"_";
            else
              //Se nao tiver nada, entao adiciona um novo
              document.getElementById(tipo).className = ID+"-"+nome+"_";

            for(var i=0; i<5; i++)
              {
                  verifica_vetores(idElemento[i], '_', 'pega_dados');
              }

            if(acao == 'exclui')
              for(var i=0; i<5; i++)
              {
                  verifica_vetores(idElemento[i], ID+"-"+nome, '');
              }

      }

      function verifica_vetores(idElemento, valor, acao){
        var elemento = document.getElementById(idElemento)

        var valores = elemento.getAttribute("class")

        if(valores != null)
        {
            var vetor = valores.split('_');
            var cont = 0;
            var new_vetor = [];
            var dados = [];
            var ID = 0, INFORMACAO = 1;

            for(var i=0; i<vetor.length;i++)
            {              
              if (vetor[i] != valor && valores != 'aux')
              {
                new_vetor[cont++] = vetor[i]
              }
            }

            if(cont>=0 && valores != 'aux')
            {
              valores = new_vetor.join('_');
              document.getElementById(idElemento).className = valores
              cont = 0;

              if(idElemento == 'procedure_'){

                if(acao == 'pega_dados')
                  for(var i=0; i<(new_vetor.length-1);i++)
                  {              
                    dados = new_vetor[i].split('-')
                    //alert(dados[ID]+"---"+dados[INFORMACAO])
                  }

                valores = '<br/>'+new_vetor.join('<br/>');
                jQuery("#escreve_procedure").html("<strong>Procedimentos:</strong> "+valores);
              }
              if(idElemento == 'diagnosis_'){

                if(acao == 'pega_dados')
                  for(var i=0; i<(new_vetor.length-1);i++)
                  {              
                    dados = new_vetor[i].split('-')
                    //alert(dados[ID]+"---"+dados[INFORMACAO])
                  }

                valores = '<br/>'+new_vetor.join('<br/>');
                jQuery("#escreve_diagnosis").html("<strong>Diagnóstico:</strong> "+valores);
              }
              if(idElemento == 'medication_'){

                if(acao == 'pega_dados')
                  for(var i=0; i<(new_vetor.length-1);i++)
                  {              
                    dados = new_vetor[i].split('-')
                    //alert(dados[ID]+"---"+dados[INFORMACAO])
                  }

                valores = '<br/>'+new_vetor.join('<br/>');
                jQuery("#escreve_medication").html("<strong>Medicação:</strong> "+valores);
              }
              if(idElemento == 'anatomy_'){

              if(acao == 'pega_dados')
                for(var i=0; i<(new_vetor.length-1);i++)
                {              
                  dados = new_vetor[i].split('-')
                  //alert(dados[ID]+"---"+dados[INFORMACAO])
                }

                valores = '<br/>'+new_vetor.join('<br/>');
                jQuery("#escreve_anatomy").html("<strong>Anatomia:</strong> "+valores);
              }
              if(idElemento == 'other_'){

                if(acao == 'pega_dados')
                  for(var i=0; i<(new_vetor.length-1);i++)
                  {              
                    dados = new_vetor[i].split('-')
                    //alert(dados[ID]+"---"+dados[INFORMACAO])
                  }

                for(var i=0; i<(new_vetor.length-1);i++)
                valores = '<br/>'+new_vetor.join('<br/>');
                jQuery("#escreve_other").html("<strong>Outros:</strong> "+valores);
              }

            }
        }
    }


    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MeSHx-Notes</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--ajax start -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">MeSHx-Notes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              {% if indice_retornar != -1 %}
              <a class="nav-link" href="?id={{ indice_retornar }}">
              {% endif %}
            </a>
            </li>
            <li class="nav-item">
              {% if indice_avancar != ultima_posicao %}  
              <a class="nav-link" href="?id={{ indice_avancar }}">
              {% endif %}
            </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">João Etchichury Soares e Rafael Oleques Nunes</a>
          </p>

          <hr>
          
          <div class="card my-4">
            <h5 class="card-header">
                Evolução 
            </h5>
            <div class="card-body">
                Registro do paciente: {{ registro }}
                <br><br>
                Data: {{ data }}
                <br><br>
                Evolucoes: {{ evolucao |safe}}
            </div>
          </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <br><br>  
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">
              Categorias
            </h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-unstyled mb-0">
                    <li>
                        <a>
                          <div class="foo black"></div> &nbsp;
                          <span onclick="pega_sublinhado(this.id)" class ="word" id="procedure"> Procedimento </span>

                        </a>
                    </li>
                    <li>
                        <a>
                          <div class="foo green"></div> &nbsp; 
                          <span onclick="pega_sublinhado(this.id)" class ="word" id="diagnosis"> Diagnóstico </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="foo red "></div> &nbsp;
                            <span onclick="pega_sublinhado(this.id)" class ="word" id="medication"> Medicação </span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="foo blue"> </div> &nbsp;
                            <span onclick="pega_sublinhado(this.id)" class ="word" id="anatomy"> Anatomia </span>
                        </a>
                    </li> 
                    <li>
                        <a>
                            <div class="foo purple"> </div> &nbsp;
                            <span onclick="pega_sublinhado(this.id)" class ="word" id="other"> Outros </span>
                            <span id="auxiliar" class="aux"></span>
                            <span id="procedure_" class="aux"></span>
                            <span id="diagnosis_" class="aux"></span>
                            <span id="medication_" class="aux"></span>
                            <span id="anatomy_" class="aux"></span>
                            <span id="other_" class="aux"></span>
                        </a>
                    </li>   
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-4">
              <h5 class="card-header">
                Definição 
              </h5>
              <div class="card-body">
                <div id="escreve_procedure" class="aux"><strong>Procedimentos:</strong></div>
                <div id="escreve_diagnosis" class="aux"><strong>Diagnóstico:</strong></div>
                <div id="escreve_medication" class="aux"><strong>Medicação:</strong></div>
                <div id="escreve_anatomy" class="aux"><strong>Anatomia:</strong></div>
                <div id="escreve_other" class="aux"><strong>Outros:</strong></div>
                <div id="nome"></div>
                <br/>
                <!--<form name="valida" action="../valida" method="GET">-->
                    <input type="hidden" name="id" value="{{ indice }}"/> 
                    <input type="hidden" name="l" value="{{ lingua }}"/> 
               <!-- </form>-->
              </div>
          <div/>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-2 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">MeSHx-Notes | 
          <a class="text-white" target= '_blank' href="http://www.inf.pucrs.br/linatural/wordpress/"> Grupo de PLN - PUCRS  </a>
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html> 
