<html lang="en">
<style>
    * {
        box-sizing: border-box;
    }
    *:before,
    *:after {
        box-sizing: border-box;
    }
    html,
    body {
        height: 100%;
        position: relative;
    }
    .my-container {
        min-height: 100vh; /* will cover the 100% of viewport */
        width:100%;
        min-width:1100px;
        overflow: hidden;
        display: block;
        position: relative;
        padding-bottom: 100px; /* height of your footer */
    }
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin:0; padding:0;
    }

    .menu {
        border-left: 1px solid transparent;
        border-left-color: gray;
        transition: border 1s linear;
    }

    .foo {
        float: left;
        width: 20px;
        height: 19px;
        margin: 0px;
        border: 2px solid rgba(0, 0, 0, 0.336); 
    }

    .column-check-evol{
        margin-top: 1.8em;
    }

    .column-check-ea{
        margin-top: -0.5em;
    }

    .text-center {
        text-align:center;
        align-content:flex-start
    }

    .butt-ea{
        font-size: 1em;
        color: black;
        float: right;
    }

    .butt-evol{
        font-size: 1em;
        color: black;
        float: right;
        margin-right: 3px
    }

    .ea-table{
        margin-top: 0.5em
    }

    .car-ea{
        margin-top: 2em;
    }
    
    .custom-control-label:before{
        background-color:red;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before{
        background-color:black;
    }

    .scroll-box {
        overflow-y: scroll;
        height: 164px;
        padding: 1rem
    }

    .btn-dark{
        float: right;
    }

    .foo {
        float: left;
        width: 20px;
        height: 19px;
        margin: 0px;
        border: 2px solid rgba(0, 0, 0, 0.336);
    }

    .black {
        background: #000000;
    }

    .green {
        background: #00661a;
    }

    .red {
        background: #cc0404;
    }

    .blue {
        background: #0400dbf6;
    }

    .purple {
        background: #871F78;
    }

    .brown {
        background: brown
    }

    .chartreuse {
        background: chartreuse
    }

    .cornflowerblue {
        background: cornflowerblue
    }

    .darkslategrey {
        background: darkslategrey
    }

    .dano, .avaliacao, .procedimento, .condicoes, .risco, .local, .setor, .unidade, .desencadeante{
      border-bottom: 2px solid transparent;
      transition: border 1s linear;
    }

    .word {
        cursor: pointer;
    }

    .dano{
        border-bottom-color: black;
    }

    .avaliacao{
        border-bottom-color: green;
    }

    .procedimento{
        border-bottom-color: red;
    }

    .condicoes{
        border-bottom-color: blue;
    }

    .risco{
        border-bottom-color: brown;
    }

    .local{
        border-bottom-color: chartreuse
    }

    .setor{
        border-bottom-color: cornflowerblue
    }

    .unidade{
        border-bottom-color: darkslategrey
    }

    .desencadeante{
        border-bottom-color: purple
    }
</style>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Clinical Web Notes</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
        function sublinhar(k){
            var elemento = document.getElementById(k); 
            var conteudo = $('#'+k).text();  
            var classe =  document.getElementById('auxiliar').getAttribute("class");
            if(elemento.className.indexOf(classe) != -1){
                elemento.className = "word"; 
                salva_informacoes(k, conteudo, classe, 'exclui')
            }   
            else{
                if ( document.getElementById('auxiliar').getAttribute("class") != 'aux' ){
                    elemento.className = classe+" word"; 
                    salva_informacoes(k, conteudo, classe, '')
                }
            } 
        }

        function pega_sublinhado(k){
            var elemento = document.getElementById('auxiliar');  
            elemento.className = k; 
        }

        function salva_informacoes(ID, nome, classe, acao){
            var idElemento = []
            idElemento[0] =  'dano_';
            idElemento[1] =  'avaliacao_';
            idElemento[2] =  'procedimento_';
            idElemento[3] =  'condicoes_';
            idElemento[4] =  'risco_';
            idElemento[5] =  'local_';
            idElemento[6] =  'setor_';
            idElemento[7] =  'unidade_';
            idElemento[8] =  'desencadeante_';
            var tipo
            for(var i=0; i<9; i++){
                if(classe+"_" == idElemento[i]){
                  tipo =  idElemento[i];
                }
                verifica_vetores(idElemento[i], ID, nome, '');
            }
            //Se tiver algo nele, entao adiciona o novo com o que ja tinha
            if(document.getElementById(tipo+"informacao").value != 'aux'){    
              document.getElementById(tipo+"id").value = document.getElementById(tipo+"id").value+ID+" ";
              document.getElementById(tipo+"informacao").value = document.getElementById(tipo+"informacao").value+nome+" ";
            }
            else{
              //Se nao tiver nada, entao adiciona um novo
              document.getElementById(tipo+"id").value = ID+" ";
              document.getElementById(tipo+"informacao").value = nome+" ";
            }

            for(var i=0; i<9; i++){
                verifica_vetores(idElemento[i], '_', '_', 'pega_dados');
            }
            
            if(acao == 'exclui'){
                for(var i=0; i<9; i++){
                  verifica_vetores(idElemento[i], ID, nome, '');
                }
            }    
        }

        function verifica_vetores(idElemento, ID, nome, acao){
            var valoresID = document.getElementById(idElemento+"id").value;
            var valoresInformacao = document.getElementById(idElemento+"informacao").value; 
  
            if(valoresID != null){
                var vetorID = valoresID.split(' ');
                var vetorInformacao = valoresInformacao.split(' ');
                var cont = 0;
                var new_vetorID = [];
                var new_vetorInformacao = [];
                var dadosID = [];
                var dadosInformacoes = [];

                for(var i=0; i<vetorID.length;i++){              
                  if (vetorID[i] != ID && valoresInformacao != 'aux'){
                    new_vetorID[cont] = vetorID[i];
                    new_vetorInformacao[cont] = vetorInformacao[i];
                    cont++;
                  }
                }

                if(cont>=0 && valoresInformacao != 'aux'){
                    valoresID = new_vetorID.join(' ');
                    valoresInformacao = new_vetorInformacao.join(' ');
                       
                    document.getElementById(idElemento+"id").value = valoresID;
                    document.getElementById(idElemento+"informacao").value = valoresInformacao;
                    cont = 0;
                }
            }
        }

        // function para_csv(){
        //     var dano_id = document.getElementById("dano_id").value
        //     var dano_informacoes = document.getElementById("dano_informacao").value
            
        //     var avaliacao_id = document.getElementById("avaliacao_id").value
        //     var avaliacao_informacoes = document.getElementById("avaliacao_informacao").value
            
        //     var condicoes_id = document.getElementById("condicoes_id").value
        //     var condicoes_informacoes = document.getElementById("condicoes_informacao").value

        //     var risco_id = document.getElementById("risco_id").value
        //     var risco_informacoes = document.getElementById("risco_informacao").value

        //     var local_id = document.getElementById("local_id").value
        //     var local_informacoes = document.getElementById("local_informacao").value

        //     var setor_id = document.getElementById("setor_id").value
        //     var setor_informacoes = document.getElementById("setor_informacao").value

        //     var unidade_id = document.getElementById("unidade_id").value
        //     var unidade_informacoes = document.getElementById("unidade_informacao").value

        //     var desencadeante_id = document.getElementById("desencadeante_id").value
        //     var desencadeante_informacoes = document.getElementById("desencadeante_informacao").value

        //     $.get( "/fatores?dano_id="+dano_id+"&dano_informacoes="+dano_informacoes
        //                     +"&avaliacao_id="+avaliacao_id+"&avaliacao_informacoes="+avaliacao_informacoes
        //                     +"&condicoes_id="+condicoes_id+"&condicoes_informacoes="+condicoes_informacoes
        //                     +"&risco_id="+risco_id+"&risco_informacoes="+risco_informacoes
        //                     +"&local_id="+local_id+"&local_informacoes="+local_informacoes
        //                     +"&setor_id="+setor_id+"&setor_informacoes="+setor_informacoes
        //                     +"&unidade_id="+unidade_id+"&unidade_informacoes="+unidade_informacoes
        //                     +"&desencadeante_id="+desencadeante_id+"&desencadeante_informacoes="+desencadeante_informacoes
        //         );

        //     alert("Enviado com sucesso");
        // } 
    </script>
</head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Clinical Web Notes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">   
            <li class="nav-item menu">  </li>
               <a class="nav-link" href="/meshx"> MeSHx-Notes</a>
            </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <br><br><br>
    <div class="container my-container">
        <div class="row row-ea">
            <div class="col-md-10 my-column" style="align-content:right">
                <div class="card my-4">
                    <h4 class="card-header card-ea align-text-top"> {{ data_ea }} | {{ registro_ea }}  
                        {% if indice_retornar_ea != -1 %}
                            <a href="?id_ea={{indice_retornar_ea}}"><i class="fas fa-caret-square-left butt-ea"></i></a>
                        {% endif %}
                            &nbsp; &nbsp;
                        {% if indice_avancar_ea != ultima_posicao_ea %} 
                            <a href="?id_ea={{indice_avancar_ea}}"><i class="fas fa-caret-square-right butt-ea"></i></a>
                        {% endif %}
                    
                    </h4>
                    <div class="card-body align-text-top"> 
                        <table class="table table-bordered table-light ea-table" style="width:100%">
                            <tr>
                                <th>Tipo</th>
                                <th>Resumo do Evento</th>
                                <th>Evento</th>
                                <th>Sexo</th>
                                <th>ID</th>
                                <th>Gravidade</th>
                                <th>Evol. Vinculada</th>
                            </tr>
                            <tr>
                                <td>{{ tipo }}</td> 
                                <td>{{ resumo_evento }}</td>
                                <td>{{ evento }}</td>
                                <td>{{ sexo }}</td>
                                <td>{{ ID }}</td>
                                <td>{{ gravidade }}</td>
                                <td> {{ evol_vinculada }} </td>                     
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row row-evol">
                <div class="col-md-8 my-column">
                        <a href="/vincula?id_ea={{indice_ea}}&id_evol={{indice_evol}}&vincular=True"><button type="button" class="btn btn-success button">
                                Vincular &nbsp;
                                <i class="fas fa-check"></i>
                        </button></a> &nbsp; &nbsp;
                        {% if evol_vinculada == indice_evol %}
                        <a href="/vincula?id_ea={{indice_ea}}&id_evol={{indice_evol}}&vincular=False"><button type="button" class="btn btn-danger button">
                                Desvincular &nbsp;
                                <i class="fas fa-times"></i>
                        </button></a>
                        {% endif %}
                        <div class="card my-4">
                                <h4 class="card-header card-evol">{{ data_evolucao }} | {{ registro_evol }} - {{ indice_evol }}
                                    {% if indice_avancar_evol != ultima_posicao_evol and registro_evol == registro_ea %}
                                        <a href="?id_evol={{indice_avancar_evol}}&id_ea={{indice_ea}}"><i class="fas fa-caret-square-right butt-evol"></i></a>
                                    {% endif %} 
                                        &nbsp; 
                                    {% if indice_retornar_evol != primeira_posicao_evol and registro_evol == registro_ea %}
                                        <a href="?id_evol={{indice_retornar_evol}}&id_ea={{indice_ea}}"><i class="fas fa-caret-square-left butt-evol"></i></a>
                                    {% endif %}
                                </h4>
                                <div class="card-body"> {{ evolucao |safe}} </div>  
                        </div>    
                </div>
                <div class="col-md-4 column-check-evol">
                        <div class="card car-ea">
                                <h4 class="card-header">Fatores de Queda </h4>
                                <div class="card-body">
                                        <ul class="list-unstyled mb-0">
                                            <li>
                                                <a>
                                                  <div class="foo black"></div> &nbsp;
                                                  <span onclick="pega_sublinhado(this.id)" class ="word" id="dano">Houve dano ao paciente? </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                  <div class="foo green"></div> &nbsp; 
                                                  <span onclick="pega_sublinhado(this.id)" class ="word" id="avaliacao">Necessitou de avaliação médica. </span>
                                                </a>
                                            </li>
                                            <li>
                                            </li>
                                                <a>
                                                    <div class="foo red "></div> &nbsp;
                                                    <span onclick="pega_sublinhado(this.id)" class ="word" id="procedimento">Foi necessário algum procedimento. Qual? </span>
                                                </a>
                                            <li>
                                                <a>
                                                    <div class="foo blue"> </div> &nbsp;
                                                    <span onclick="pega_sublinhado(this.id)" class ="word" id="condicoes">Condições do paciente antes da queda. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <div class="foo brown"> </div> &nbsp;
                                                    <span onclick="pega_sublinhado(this.id)" class ="word" id="risco">Risco do meio ambiente. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <div class="foo chartreuse"> </div> &nbsp;
                                                    <span onclick="pega_sublinhado(this.id)" class ="word" id="local">Local da queda. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <div class="foo cornflowerblue"> </div> &nbsp;
                                                    <span onclick="pega_sublinhado(this.id)" class ="word" id="setor">Outro setor: Qual? </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <div class="foo darkslategrey"> </div> &nbsp;
                                                    <span onclick="pega_sublinhado(this.id)" class ="word" id="unidade">Se foi na unidade de internação. Qual local?</span>
                                                </a>
                                            </li> 
                                            <li>
                                                <a>
                                                    <div class="foo purple"> </div> &nbsp;
                                                    <span onclick="pega_sublinhado(this.id)" class ="word" id="desencadeante">Fator desencadeante da queda. </span>
                                                    <span id="auxiliar" class="aux"></span>

                                                    <form method="POST" action="/fatores">
                                                        <input id="id_ea" type="hidden" name="id_ea" value=" {{ indice_ea }}"/>
                                                        <input id="id_evol" type="hidden" name="id_evol" value="{{ indice_evol }}"/>
                                                        
                                                        <input id="dano_id" type="hidden" name="dano_id" value="aux"/> 
                                                        <input id="dano_informacao" type="hidden" name="dano_informacao" value="aux"/> 

                                                        <input id="avaliacao_id" type="hidden" name="avaliacao_id" value="aux"/> 
                                                        <input id="avaliacao_informacao" type="hidden" name="avaliacao_informacao" value="aux"/> 

                                                        <input id="procedimento_id" type="hidden" name="procedimento_id" value="aux"/> 
                                                        <input id="procedimento_informacao" type="hidden" name="procedimento_informacao" value="aux"/> 

                                                        <input id="condicoes_id" type="hidden" name="condicoes_id" value="aux"/> 
                                                        <input id="condicoes_informacao" type="hidden" name="condicoes_informacao" value="aux"/> 

                                                        <input id="risco_id" type="hidden" name="risco_id" value="aux"/> 
                                                        <input id="risco_informacao" type="hidden" name="risco_informacao" value="aux"/>

                                                        <input id="local_id" type="hidden" name="local_id" value="aux"/> 
                                                        <input id="local_informacao" type="hidden" name="local_informacao" value="aux"/>

                                                        <input id="setor_id" type="hidden" name="setor_id" value="aux"/> 
                                                        <input id="setor_informacao" type="hidden" name="setor_informacao" value="aux"/>

                                                        <input id="unidade_id" type="hidden" name="unidade_id" value="aux"/> 
                                                        <input id="unidade_informacao" type="hidden" name="unidade_informacao" value="aux"/>

                                                        <input id="desencadeante_id" type="hidden" name="desencadeante_id" value="aux"/> 
                                                        <input id="desencadeante_informacao" type="hidden" name="desencadeante_informacao" value="aux"/>
                                                        <br>
                                                        <input type="submit"/>
                                                    </form>
                                                </a>
                                            </li>   
                                        </ul>
                                </div>
                        </div>
                </div>
        </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-2 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Clinical Web Notes | 
          <a class="text-white" target= '_blank' href="http://www.inf.pucrs.br/linatural/wordpress/"> Grupo de PLN - PUCRS  </a>
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html> 