<html lang="en">
<style>
  .procedure, .diagnosis, .medication, .anatomy, .other{
    border-bottom: 2px solid transparent;
    transition: border 1s linear;
  }

  .procedure{
    border-bottom-color: black;
  }

  .diagnosis{
    border-bottom-color: green;
  }

  .medication{
    border-bottom-color: red;
  }

  .anatomy{
    border-bottom-color: blue;
  }

  .other{
    border-bottom-color: #871F78;
  }

  .procedure_word{
    color: black;
  }

  .diagnosis_word{
    color: green;
  }

  .medication_word{
    color: red;
  }

  .anatomy_word{
    color: blue;
  }

  .other_word{
    color: #871F78;
  }

  .footer {
    /*position:absolute;*/
    bottom:-200;
    width:100%;
    height:40px;      /* Height of the footer */
    left: 0px;
    background:#6cf;
  }

  .menu {
    border-left: 1px solid transparent;
    border-left-color: gray;
    transition: border 1s linear;
  }


  .foo {
    float: left;
    width: 20px;
    height: 19px;
    margin: 0px;
    border: 2px solid rgba(0, 0, 0, 0.336);
  }

  .black {
    background: #000000;
  }

  .green {
    background: #00661a;
  }

  .red {
    background: #cc0404;
  }

  .blue {
    background: #0400dbf6;
  }

  .purple {
    background: #871F78;
  }

  .br {
    line-height: 150%;
  }

  .word {
      cursor: pointer;
    }
  .inativo_background{
    background: white;
  }

  .inativo_linha{
    border-bottom: 0px solid transparent;
  }

</style>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MeSHx-Notes</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--ajax start -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
      $(document).ready(function(){
          $("span").click(function(){
                 $("#informacoes").html($(this).attr("data-scope"));
                 $("#qualifier").html($(this).attr("data-qualifier"));
                 $("#relacionados").html($(this).attr("data-terms"));
                 $("#nome").html($(this).attr("data-name"));
                 $("#id").html($(this).attr("data-id"));
                 checa();
                 valida($(this).attr("data-valida"))
          });
      });
    </script>

    <script>
      function valida(val){
        if(val == '1')
          $( ".valida" ).remove();
      }
      function cbx3(){
          var arr = []/* Cria array com todos os names dos check selecionados */;
          var val = []/* Cria array com todos os values dos check selecionados */;
          var serial = ""
          var inputElements = document.getElementsByClassName('radio') /* Busca todos os elementos com o class radio */;
          for(var i=0; inputElements[i]; ++i){
              if(inputElements[i].checked){ /* Verifique se o elemento em questão está com o atributo checked marcado */
                serial += inputElements[i].name+"_"+inputElements[i].value+"-" /* Inclui name do elemento em um array*/
              }
          }

          ID = document.getElementsByName("ID")[0].value;
          idioma = document.getElementsByName("l")[0].value;

          $.get( "/valida/?serial="+serial+"&ID="+ID+"&l="+idioma);

          alert("Enviado com sucesso, os dados serão atualizados na próxima sessão");
      }    


      function checa() {
          {% for ver, target in verificados %}
            if ( jQuery( "input[name={{ver}}]" ).length )
             document.getElementsByName("{{ver}}")[({{target}}-1)*-1].checked = true;
          {% endfor %}
      }

      function verifica_sublinhado(nome_classe, cor){
        
        $( "div."+cor ).toggleClass( "inativo_background" );

        $( "span."+nome_classe ).toggleClass( "inativo_linha" );


      }

    </script>
 
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">MeSHx-Notes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="http://goo.gl/n3XYWg"> Slides
            </a>
            </li>
            <li class="nav-item menu">  </li>
            <li class="nav-item">
              {% if val == "1" %}
                <a class="nav-link" href="?id={{ indice }}&l={{ lingua }}&val=0"> 
                {% if lingua == "pt" %} Validação
                {% else %} Validation {% endif %}
              {% else %}
                <a class="nav-link" href="?id={{ indice }}&l={{ lingua }}&val=1"> 
                {% if lingua == "pt" %} Sistema
                {% else %} System {% endif %}
              {% endif %}
            </a>
            </li>
            <li class="nav-item menu">  </li>
            <li class="nav-item">
              {% if lingua == "pt" %}
                <a class="nav-link" name="idioma" href="?id={{ indice }}&l=en"> EN 
              {% else %}
                <a class="nav-link" name="idioma" href="?id={{ indice }}&l=pt"> PT 
              {% endif %}
            </a>
            </li>
            <li class="nav-item menu">  </li>

            <li class="nav-item">
              {% if indice_retornar != -1 %}
              <a class="nav-link" href="?id={{ indice_retornar }}&l={{ lingua }}">
              {% if lingua == "pt" %} Anterior 
              {% else %} Back {% endif %}
            </a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if indice_avancar != ultima_posicao %}  
              <a class="nav-link" href="?id={{ indice_avancar }}&l={{ lingua }}">
              {% if lingua == "pt" %} Próximo 
              {% else %} Next {% endif %}
            </a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">João Etchichury Soares e Rafael Oleques Nunes</a>
          </p>

          <hr>
          
          <div class="card my-4">
            <h5 class="card-header">
                {% if lingua == "pt" %} Evolução 
                {% else %} Evolution {% endif %}
            </h5>
            <div class="card-body">
                {% block title %}
                  {% if lingua == "pt" %}
                      Registro do paciente: {{ registro }}
                      <br><br>
                      Data: {{ data }}
                      <br><br>
                      Evolucoes: {{ evolucao |safe}}
                  {% else %}
                      Patient identification: {{ registro }}
                      <br><br>
                      Date: {{ data }}
                      <br><br>
                      Evolution: {{ evolucao |safe}}
                  {% endif %}
                {% endblock %}
            </div>
          </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <br><br>  
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">
              {% if lingua == "pt" %} Categorias
              {% else %} Categories {% endif %}
            </h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-unstyled mb-0">
                    <li>
                        <a>
                          <div onclick="verifica_sublinhado('procedure', 'black')" class="foo black word"></div> &nbsp;<span onclick="verifica_sublinhado('procedure', 'black')" class = "word">
                          {% if lingua == "pt" %} Procedimento
                          {% else %} Procedure {% endif %}</span>

                        </a>
                    </li>
                    <li>
                        <a>
                          <div onclick="verifica_sublinhado('diagnosis', 'green')" class="foo green word"></div> &nbsp; <span onclick="verifica_sublinhado('diagnosis', 'green')" class = "word">
                          {% if lingua == "pt" %} Diagnóstico 
                          {% else %} Diagnosis {% endif %}</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div onclick="verifica_sublinhado('medication', 'red')" class="foo red word "></div> &nbsp;<span onclick="verifica_sublinhado('medication', 'red')" class = "word">
                            {% if lingua == "pt" %} Medicação 
                            {% else %} Medication {% endif %}</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <div onclick="verifica_sublinhado('anatomy', 'blue')" class="foo blue word"> </div> &nbsp; <span onclick="verifica_sublinhado('anatomy', 'blue')"  class = "word">
                            {% if lingua == "pt" %} Anatomia 
                            {% else %} Anatomy {% endif %}</span>
                        </a>
                    </li> 
                    <li>
                        <a>
                            <div onclick="verifica_sublinhado('other', 'purple')" class="foo purple word"> </div> &nbsp;<span onclick="verifica_sublinhado('other', 'purple')" class = "word">
                            {% if lingua == "pt" %} Outros 
                            {% else %} Other {% endif %}</span>
                        </a>
                    </li>   
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-4">
              <h5 class="card-header">
                {% if lingua == "pt" %} Definição 
                {% else %} Definition {% endif %}
              </h5>
              <div class="card-body">
                <div id="nome"></div>
                <div id="qualifier"></div>

                <div id="id"></div>
                <div id="informacoes"></div>
                <!--<form name="valida" action="../valida" method="GET">-->
                    <input type="hidden" name="id" value="{{ indice }}"/> 
                    <input type="hidden" name="l" value="{{ lingua }}"/> 
                    <div id="relacionados"></div>
               <!-- </form>-->
              </div>
          <div/>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-2 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">MeSHx-Notes | 
          <a class="text-white" target= '_blank' href="http://www.inf.pucrs.br/linatural/wordpress/"> Grupo de PLN - PUCRS  </a>
        </p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html> 
