<!DOCTYPE html>
<html lang= "en">

<head>
        <title>Clinical Web Notes</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
</head>

<body class="body" style="background-color: white">
    <span class="oi oi-icon-name" title="icon name" aria-hidden="true"></span>
    <div>    
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>