<html lang="en">
<style>
  .footer {
		position:absolute;
		bottom:-200;
		width:100%;
		height:40px;			/* Height of the footer */
    left: 0px;
		background:#6cf;
	}

  .foo {
    float: left;
    width: 20px;
    height: 19px;
    margin: 0px;
    border: 2px solid rgba(0, 0, 0, 0.336);
}

  .black {
    background: #000000;
  }

  .green {
    background: #00661a;
  }

  .red {
    background: #cc0404;
  }

  .blue {
    background: #0400dbf6;
  }

  .br {
    line-height: 150%;
  }
</style>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MeSHx-Notes</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">MeSHx-Notes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Anterior</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Próximo</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">João Etchichury Soares e Rafael Oleques Nunes</a>
          </p>

          <hr>

          <!-- Date/Time Created on April 18, 2018 -->
          <p>Criado em 18 de abril de 2018</p>

          <hr>
          
          <div class="card my-4">
            <h5 class="card-header">Evolução</h5>
            <img src="exemplo.png">
            <div class="card-body">
            </div>
          </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <br><br><br><br>  
          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categorias</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="list-unstyled mb-0">
                    <li>
                        <a>
                          <div class="foo black"></div> &nbsp;Procedimento 
                        </a>
                    </li>
                    <li>
                        <a>
                          <div class="foo green"></div> &nbsp;Diagnóstico 
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="foo red "></div> &nbsp;Medicação
                        </a>
                    </li>
                    <li>
                        <a>
                            <div class="foo blue"> </div> &nbsp;Anatomia
                        </a>
                    </li>   
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-4">
              <h5 class="card-header">Definição</h5>
              <div class="card-body"></div>
          <div/>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-2 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">MeSHx-Notes | Escola Politécnica - PUCRS</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html> 
